body {
    font-family: Arial;
    background: #f1f5f9;
}

.topbar {
    background: #1e293b;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}
